include galaxymidi/README.md
recursive-include galaxymidi/ *
recursive-include galaxymidi/report *
recursive-include galaxymidi/report/plots *
recursive-include galaxymidi/docs *
recursive-include galaxymidi/artwork *